@charset "utf-8";
* {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
	width: 100%;
	overflow: hidden;
}

body {
	background-color: #313131;
	color: #656565;
	display: flex;
	font-size: 16px;
	height: 100%;
	justify-content: center;
	width: 100%;
	overflow: auto;
}

#disp {
	background-image: url(../img/offline.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	height: 100%;
	margin: auto 0;
	max-height: 510px;
	max-width: 510px;
	width: 100%;
}

#disp>:first-child {
	height: 53%;
}

#disp>* {
	text-align: center;
}
