@charset "utf-8";
*{ margin: 0; padding: 0; }
html{
	display: table;
	width: 100%;
	height: 100%;
}
body{
	width: 100%;
	height: 100%;
	display: table-cell;
	vertical-align: middle;
	background:#f5f5f5;
	font-size: 16px;
}
.content{
	margin: 0 auto;
}
#disp{
	position:relative;
	color:#656565;
	width: 100%;
	height: 100%;
}

body#other{background:#313131;}
#disp .msg{position:absolute;width:100%;top:calc(50% + 14px);text-align:center;box-sizing:border-box;padding:0 30px;}
#disp h4{margin:0 auto 20px;}
#disp .text{margin:0 auto;}
